.cart__wraper-btn{
    display: flex;
    align-items: center;

}

.cart__wraper-delete{
    display: flex;
    align-items: center;
    margin-left: 230px;

    @media screen and (min-width: 768px) {
    margin-left: 404px;
        
    }
}

.cart__delete{
    color: #010101;
    font-family: "Neue Montreal";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */

    @media screen and (min-width: 768px) {
        font-size: 16px;
            
    }
}

.cart__btn-cart{
    width: 42px;
    height: 42px;
    background-color: #6D8434;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
}

.cart__logo-icon{
    fill: #E8E8E2;
}

.cart__delete{
    color: #010101;
    font-family: "Neue Montreal";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
}

.cart__icon-cross-all{
    fill: #010101;
}

.cart__delete-btn-all{
    background-color: #E8E8E2;
}

.cart__title{
    color: #010101;
    font-family: "Neue Montreal";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    text-transform: uppercase;
}

.cart__wraper{
    gap: 100px;
    margin-bottom: 60px;


    @media screen and (min-width: 768px) {
        flex-direction: column;
    }
    
    @media screen and (min-width: 1470px) {
        display: flex;
        flex-direction: row;
       
    }
}


.cart__product-img{
    width: 72px;
    height: 72px;
}

.cart__product-list{
    height: 600px;
    overflow: scroll;

    overflow-y: auto; 
    overflow-x: hidden    
    
}


.cart__product-list::-webkit-scrollbar {
    width: 9px; 
  }

  .cart__product-list::-webkit-scrollbar-thumb {
    // width: 9px;
    border-radius: 20px;
    background: rgba(1, 1, 1, 0.08);
  }

.cart__product-item{
    display: flex;
    outline: solid red 2px;
    padding-top: 30px;
    padding-bottom: 30px;

    @media screen and (min-width: 768px) {
        padding-top: 40px;
        padding-bottom: 40px;

        
    }
    
}

.cart__product-wraper{
    display: flex;
    gap: 16px;
    outline: solid greenyellow 2px;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
    margin-bottom: 44px;
    }

}

.cart__product-box{
    outline: solid blue 2px;
    position: relative;
    width: 208px;

    @media screen and (min-width: 768px) {
        width: 340px;
    }
}


.cart__product-info{
    display: flex;
    align-items: center;
    gap: 4px;
}

.cart__product-category {
    color: rgba(1, 1, 1, 0.30);
    font-family: "Neue Montreal";
    font-size: 12px;
    font-weight: 400;
    line-height: 14px; /* 116.667% */
}

.cart__product-fresh{
    color: #010101;
    font-family: "Neue Montreal";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
}

.cart__product-price{
    color: #010101;
    font-family: "Neue Montreal";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 111.111% */

    @media screen and (min-width: 768px) {
        font-size: 20px;
        }

}

.cart__product-title{
    width: 340px;
    color: #010101;
    font-family: "Neue Montreal";
    font-size: 20px;
    font-weight: 500;
    line-height: 24px; /* 120% */
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
        margin-bottom: 12px;

    }
}

.cart__delete-btn{
    background-color: #E8E8E2;
    position: absolute;
    top: 0;
    right: 0;
}

.cart__icon-cross-box{
    fill: #010101;

}

.cart__img-wrap{
    // outline: solid black 2px;
    border-radius: 10px;
    background: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-right: 20px;


    // margin-left: 50px;

    @media screen and (min-width: 768px) {
        width: 120px;
        height: 120px;
        margin-right: 40px;

        
    }
}


.cart__product-add-wrap{
    display: flex;

}

.cart__product-plus{
    display: flex;
    background-color: darkorange;
    justify-content: center;
    width: 96px;

    gap: 6px;
    border-radius: 100px;
    border: 1px solid rgba(1, 1, 1, 0.10);
    overflow: hidden;

    margin-left: 88px;

    @media screen and (min-width: 768px) {
        margin-left: 197px; 
        gap: 10px;

    }
}

.cart__icon-minus{
    fill: #010101;
}

.cart__icon-plus{
    fill: #010101;
}

.cart__btn-plus{
    background-color: cornflowerblue;
}

.cart__btn-minus{
    background-color: greenyellow;
}


.cart__product-plus-text{
    color: #010101;
    font-family: "Neue Montreal";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    @media screen and (min-width: 768px) {
        font-size: 20px;
    }
}

.cart__order-title{
    color: #010101;
    font-family: "Neue Montreal";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 100% */
    text-transform: uppercase;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        font-size: 32px;
        
    }
}

.cart__order-sub-text{
    color: rgba(1, 1, 1, 0.20);
    font-family: "Neue Montreal";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 116.667% */
    padding-bottom: 14px;
    margin-right: 8px;
}


.cart__order-box{
    display: flex;
    align-items: end;
    width: 335px;
    height: 60px;
    border-radius: 8px;
    background: rgba(109, 132, 52, 0.05);
    margin-bottom: 40px;
    // align-items: center;

    @media screen and (min-width: 768px) {
        width: 590px;

        
    }

}

.cart__order-text{
    margin-right: 161px;
    margin-left: 24px;
    padding-bottom: 14px;
    font-size: 20px;

    @media screen and (min-width: 768px) {
        font-size: 18px;
    margin-right: 364px;
        
    }

}

.cart__order-price{
    color: #010101;
    font-family: "Neue Montreal";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 100% */
    padding-bottom: 14px;

    @media screen and (min-width: 768px) {
        font-size: 32px;
        
    }
}

.cart__order-btn{
    padding: 12px 138px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: #6D8434;

    color: #E8E8E2;
    font-family: "Neue Montreal";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;

    @media screen and (min-width: 768px) {
    padding: 15px 65px;
    font-size: 20px;
        
        
    }
}

.cart__order-email{
    padding: 12px 155px 12px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 14px;
    border: 1px solid rgba(1, 1, 1, 0.30);

    @media screen and (min-width: 768px) {
        padding: 15px 172px 15px 20px;
        font-size: 18px;
        
    }
}



// .cart__wraper{
//     background-color: greenyellow;

// }

// .cart_order{

// }

.cart__emoty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // width: 1000px;
    position: absolute;
    // position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cart__emoty-img{
    width: 164px;
    height: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
    margin-bottom: 40px;
}

.cart__emoty-title{
    color: #010101;
    font-family: "Neue Montreal";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    text-align: center;

    margin-bottom: 14px;
}

.cart__emoty-text{
    color: rgba(1, 1, 1, 0.70);
    text-align: center;
    font-family: "Neue Montreal";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    // text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 387px;
}