


.discount_main-title{
color: #010101;
font-family: "Neue Montreal";
font-size: 28px;
font-weight: 500;
line-height: 0.87; 
margin-bottom: 10px;
text-align: center;
@media screen and (min-width: 1270px) {
color: #010101;
font-family: "Neue Montreal";
font-size: 29px;
font-weight: 500;
line-height: 0.87; 
margin-bottom: 15px;
text-align: left;
padding-right: 20px;
    }
}

.discount_list{
    display: flex;
justify-content: center;
gap: 15px;
flex-wrap: wrap;
align-items: center;
@media screen and (min-width: 1270px) {
    display: flex;
justify-content: center;
gap: 15px;
flex-direction: column;
align-items: flex-end;
    }
}

.discount_item{
width: 320px;
height: 250px;
border-radius: 10px;
background: #FAFAFA;
padding-top: 20px;
padding-left: 20px;
display: flex;
gap: 5px;
flex-direction: column;
transition: all 500ms ease 0s;

@media screen and (min-width: 1270px) {
width: 295px;
height: 232px;
border-radius: 10px;
background: #FAFAFA;
padding-top: 10px;
display: flex;
flex-wrap: wrap;
gap: 5px;
flex-direction: column;
align-content: center;
transition: all 500ms ease 0s;
    }
}
.discount_item:hover{
    box-shadow: -3px 7px 17px -7px rgba(0,0,0,0.75);
    transition: all 500ms ease 0s;
}

.discount_card-title{
        color: #010101;
font-family: "Neue Montreal";
font-size: 18px;
font-weight: 500;
line-height: 0.85; 
}
.discount_card-img{
    width: 270px;
height: 130px;
border-radius: 10px;
background: #E8E8E2;
margin-left: 10px;
 padding: 16px 74px;
    @media screen and (min-width: 768px) {
         width: 270px;
height: 140px;
border-radius: 10px;
background: #E8E8E2;
 padding: 15px 53px;
    }
@media screen and (min-width: 1270px) {
width: 230px;
height: 150px;
border-radius: 10px;
background: #E8E8E2;
margin-left: 10px;
    object-fit: fill;
    padding: 30px 50px;
    
}
}
.discount_button-svg{
    width: 18px;
height: 18px;
fill: #FAFAFA;
transition: all 500ms ease 0s;
}
.discount_button-svg:hover{
    fill: #6D8434;
    transition: all 500ms ease 0s;
    box-shadow: -3px 7px 17px -7px rgba(0,0,0,0.75);
}
.discount_button{
    width: 25px;
height: 25px;
padding: 5px;
border-radius: 30px;
background: #6D8434;
display: flex;
justify-content: center;
align-items: center;
transition: all 500ms ease 0s;
    @media screen and (min-width: 1270px) {
            width: 25px;
height: 25px;
padding: 5px;
border-radius: 30px;
background: #6D8434;
display: flex;
justify-content: center;
align-items: center;
transition: all 500ms ease 0s;
margin-top: 180px;
margin-right: 5px;
    }
}
.discount_button:hover{
    background: #E8E8E2;
    transition: all 500ms ease 0s;
    box-shadow: -3px 7px 17px -7px rgba(0,0,0,0.75);
}

.discount_card-text{
    color: red;
    font-weight: 600;
}