.filter {
    padding: 37px 0 30px;



    &__tilte {
        font-size: 14px;
        line-height: 1.29;
        color: $general-text-color;
        font-weight: 400;
        margin-bottom: 8px;
    }

    &__list {
        display: flex;
        gap: 12px;
        flex-direction: column;

        @media screen and (min-width: 734px) {
            flex-direction: row;
            gap: 8px;
        }
    }

    &__item {
        position: relative;
    }

    &__input {
        border: 1px solid rgba(1, 1, 1, 0.3);
        border-radius: 30px;
        font-weight: 400;
        padding: 15px 20px;
        width: 100%;
        font-size: 14px;
        line-height: 1.29;
        color: $title-color;
        background-color: transparent;

        @media screen and (min-width: 734px) {
            width: 269px;
            font-size: 18px;
            padding: 14px 20px;
            line-height: 1.33;
        }
    }

    &__input--small {
        @media screen and (min-width: 734px) {
            width: 189px;
        }

    }

    &__input::placeholder {
        font-size: 14px;
        line-height: 1.29;
        font-weight: 400;
        color: $title-color;

        @media screen and (min-width: 734px) {
            font-size: 18px;
            line-height: 1.33;
        }
    }

    &__input--checked {
        border: 1px solid $background-cards-color;
        background-color: $background-cards-color;
    }

    &__serch {
        position: absolute;
        top: 14px;
        right: 20px;
        fill: $title-color;

        @media screen and (min-width: 734px) {
            top: 16px;
        }
    }

    &__icon {
        position: absolute;
        top: 14px;
        right: 20px;
        stroke-width: 2px;
        stroke: $title-color;
        fill: none;

        @media screen and (min-width: 734px) {
            top: 16px;
        }
    }

    &__overlay {
        border-radius: 15px;
        width: 100%;
        background-color: $background-cards-color;
        box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.04), 0 20px 69px 0 rgba(0, 0, 0, 0.07);
        padding: 14px 20px;
        position: absolute;
        left: 0;
        top: 56px;
        z-index: 3;

        @media screen and (min-width: 734px) {
            width: 189px;
            top: 60px;
        }
    }

    #categories-filter {
        display: none;
    }

    #order-filter {
        display: none;
    }

    &__variants {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__desc {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.29;
        color: $filter-variants-color;

        @media screen and (min-width: 734px) {
            font-size: 18px;
            line-height: 1.33;
        }
    }


}