.hero{
    margin-top: 72px;
    margin-bottom: 77px;
    

    @media screen and (min-width: 768px) {
        margin-top: 116px;
        font-size: 80px;
        width: 658px;
    }
    
    @media screen and (min-width: 1470px) {
        margin-top: 77px;
        width: 1042px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

.hero__title{
    color: #010101;
    font-family: "Neue Montreal";
    font-size: 44px;
    font-weight: 500;
    line-height: 48px; /* 100% */
    letter-spacing: -1.6px;
    text-align: center;
    width: 335px;

    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        line-height: 80px; /* 100% */
        font-size: 80px;
        width: 658px;
    }
    
    @media screen and (min-width: 1470px) {
      width: 1042px;
    }
}

.hero__text{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: rgba(1, 1, 1, 0.80);
    text-align: center;
    font-family: "Neue Montreal";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 133.333% */

    width: 292px;
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
        width: 492px;
        font-size: 18px;
        margin-bottom: 40px;


    }
    
    @media screen and (min-width: 1470px) {
    }
}

.hero__circle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -50px;
    right: 50px;
    background-color: #FDC152;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: auto;
    z-index: 3;
}

.hero__icon{
    // fill: #E8E8E2;
    z-index: 2;
}

.hero__photo{
    position: relative;
    width: 335px;
    height: 480px;
    border-radius: 70px;
    // outline: solid red 5px;
    overflow: hidden;

    @media screen and (min-width: 768px) {
        
        width: 704px;
        height: 580px;
    }
    
    @media screen and (min-width: 1470px) {
        width: 1240px;
        height: 350px;
        
    }
}

