.pagination {
    // @media screen and (max-width: 1470px) {
    //     order: 2;
        
    // }
    
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100vw;

    padding-top: 40px;

    @media screen and (min-width: 734px) {
        padding-top: 50px;

    }

    @media screen and (min-width: 1270px){
        padding-top: 40px;
    }

    &__cont {
        display: flex;
        justify-content: center;
        gap: 8px;
        align-items: center;

        @media screen and (min-width: 734px) {
            gap: 32px;
        }
    }


    &__lefts {
        display: flex;
        gap: 4px;

        @media screen and (min-width: 734px) {
            gap: 5px;
        }
        @media screen and (max-width: 480px) {
            gap: 2px;
            
        }
    }

    &__left {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            background-color: $hover-accent-color;
            transition: 250ms ease-out;

            & use {
                stroke: white;
            }
        }

        @media screen and (max-width: 734px) {
            width: 36px;
            height: 36px;
        }
        @media  screen and (max-width: 480px) {
            width: 32px;
            height: 32px;
            
        }
    }

    &__arrow--left {
        transform: rotate(180deg);
        stroke-width: 1.50px;
        fill: none;
        stroke: $pagination-color;
    }

    &__arrow--disabled {
        & svg {
            stroke: $pagination-unuseble-color;
        }
    }

    &__centers {
        display: flex;
        gap: 3px;

        @media screen and (min-width: 734px) {
            gap: 8px;
        }
    }

    &__center {
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;

        &--active {
            border-radius: 50%;
            background-color: $accent-color;
        }

        @media screen and (max-width: 734px) {
            width: 36px;
            height: 36px;
        }
        @media  screen and (max-width: 480px) {
            width: 32px;
            height: 32px;
            
        }

    }

    &__number {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.43;
        color: $pagination-color;

        &--active {
            color: $background-fone-color;
        }
    }

    &__rights {
        display: flex;
        gap: 4px;

        @media screen and (min-width: 734px) {
            gap: 5px;
        }
        @media screen and (max-width: 480px) {
            gap: 2px;
            
        }
    }


    &__right {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            background-color: $hover-accent-color;
            transition: 250ms ease-out;

            & use {
                stroke: white;
            }
        }

        @media screen and (max-width: 734px) {
            width: 36px;
            height: 36px;
        }
        @media  screen and (max-width: 480px) {
            width: 32px;
            height: 32px;
            
        }
    }

    &__arrow--right {
        stroke-width: 1.50px;
        stroke: $pagination-color;
        fill: none;
    }
}