.pagination {

    &__cont {
        display: flex;
        justify-content: center;
        gap: 8px;
        align-items: center;

        @media screen and (min-width: 734px) {
            gap: 32px;
        }
    }


    &__lefts {
        display: flex;
        gap: 4px;

        @media screen and (min-width: 734px) {
            gap: 5px;
        }
    }

    &__left {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;
        @media screen and (max-width: 734px) {
            width: 36px;
            height: 36px;
        }
    }

    &__arrow--left {
        transform: rotate(180deg);
        stroke-width: 1.50px;
        fill: none;
        stroke: $pagination-color;
    }
    &__arrow--disabled {
        & svg{
            stroke: $pagination-unuseble-color;
        }
    }

    &__centers {
        display: flex;
        gap: 3px;

        @media screen and (min-width: 734px) {
            gap: 8px;
        }
    }

    &__center {
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        &:not(:last-child) {
            cursor: pointer;
        }

        &--active {
            border-radius: 50%;
            background-color: $accent-color;
        }

         @media screen and (max-width: 734px) {
            width: 36px;
            height: 36px;
        }

    }

    &__number {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.43;
        color: $pagination-color;

        &--active {
            color: $background-fone-color;
        }
    }

    &__rights {
        display: flex;
        gap: 4px;

        @media screen and (min-width: 734px) {
            gap: 5px;
        }
    }


    &__right {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;
        @media screen and (max-width: 734px) {
            width: 36px;
            height: 36px;
        }
    }

    &__arrow--right {
        stroke-width: 1.50px;
        stroke: $pagination-color;
        fill: none;
    }
}