.popular_products{
    margin-bottom: 15px;

    margin-left: 20px;

}

.popular_main-title{
color: #010101;
font-family: "Neue Montreal";
font-size: 28px;
font-weight: 500;
line-height: 0.87; 
margin-bottom: 10px;
text-align: center;
@media screen and (min-width: 1270px) {
color: #010101;
font-family: "Neue Montreal";
font-size: 29px;
font-weight: 500;
line-height: 0.87; 
margin-bottom: 15px;
text-align: center;
    }
}
.popular_list{
    display: flex;
align-items: сenter;
justify-content: center;
gap: 15px;
flex-wrap: wrap;
align-items: center;
@media screen and (min-width: 1270px) {
    display: flex;
align-items: сenter;
justify-content: center;
gap: 15px;
flex-direction: column;

    }
}
.popular_item{
width: 290px;
height: 105px;
border-radius: 10px;
background: #FAFAFA;
padding-top: 5px;
padding-left: 10px;

display: flex;
flex-wrap: wrap;
flex-direction: column;
transition: all 500ms ease 0s;
gap: 1px;
}
.popular_item:hover{
    box-shadow: -3px 7px 17px -7px rgba(0,0,0,0.75);
    transition: all 500ms ease 0s;
}   
.popular_card-img{
width: 74px;
height: 74px;
border-radius: 10px;
background: #E8E8E2;
padding: 10px 10px 10px 10px;
}
.button-box{
    display: flex;  
    justify-content: flex-end;
    padding-right: 20px;
}
.popular_button{
padding: 0;
width: 17px;
height: 18px;
background-color: #E8E8E2;
border-radius: 20px;
margin-left: 20px;
 transition: all 500ms ease 0s;
}
.popular_button:hover{
background-color: #6d8434;
 transition: all 500ms ease 0s;
 box-shadow: -3px 7px 17px -7px rgba(0,0,0,0.75);
}
.popular_button-svg{
    width: 12px;
height: 12px;
fill: #6D8434;
transition: all 400ms ease 0s;
}
.popular_button-svg:hover{
fill: #e8e8e2;
transition: all 400ms ease 0s;
box-shadow: -3px 7px 17px -7px rgba(0,0,0,0.75);
}
.popular_card-title{
    color: #010101;
font-family: "Neue Montreal";
font-size: 14px;
font-weight: 500;
line-height: 0.85; 
padding-top: 2px;
margin-left: 5px;
    margin-bottom: 2px;
}
.popularCardText{
    color: #0101014d;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
}
.popular_card-outline{
    color: #010101;
font-family: "Neue Montreal";
font-size: 12px;
font-weight: 400;
line-height: 1.17;
}