@font-face {
    font-family: 'Neue Montreal';
    src: url('../fonts/NeueMontreal-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../fonts/NeueMontreal-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

*::selection {
    background-color: $accent-color;
    color: $background-cards-color;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Neue Montreal", sans-serif;
    position: relative;
    background-color: $background-fone-color;
}

.hidden {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

.mainwrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.maintop {
    display: flex;
    width: 105%;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}
.mainright {
    @media screen and (min-width: 1270px) {
        order: 2;
        
    }
    @media screen and (max-width: 1270px) {
        order: 3;
    }
}