<div class="modal">Subscribe Modal Content</div>
<section class="discount_products">
<div class="container">
  <h2 class="discount_main-title">Discount products</h2>
  <div class="discount_list-box">
    <ul class="discount_list">
      <li class="discount_item">
        <img src="#" alt="" class="discount_card-img" id="discountCardImg" />
        <h3 class="discount_card-title" id="discountCardTitle"></h3>
        <p id="discountCardCattegory">Category:</p>
        <p id="discountCardSize">Size:</p>
        <p id="discountCardPopularity">Popularity:</p>
        <button class="discount_button" id="discountButton">
          <svg class="discount_button-svg">
            <use href="./images/icon.svg#basket" ></use>
          </svg>
        </button>
      </li>
      <li class="discount_item">
        <img src="#" alt="" class="discount_card-img" id="discountCardImg" />
        <h3 class="discount_card-title" id="discountCardTitle"></h3>
        <p id="discountCardCattegory">Category:</p>
        <p id="discountCardSize">Size:</p>
        <p id="discountCardPopularity">Popularity:</p>
        <button class="discount_button" id="discountButton">
          <svg class="discount_button-svg">
            <use href="./images/icon.svg#basket"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</div>
</section>