<section class="filter">
  <div class="container">
    <h2 class="filter__tilte">Filters:</h2>
    <ul class="filter__list">
      <li class="filter__item">
        <label class="filter__label">
          <input
            type="text"
            class="filter__input"
            placeholder="Search for anything"
            id="filter-name-input"
          />
          <svg class="filter__serch" width="20" height="20">
            <use href="#search"></use>
          </svg>
        </label>
      </li>
      <li class="filter__item" id="categories-item">
        <label class="filter__label">
          <input
            type="text"
            class="filter__input filter__input--small"
            placeholder="Categories"
            id="filter-catagories-input"
          />
          <svg class="filter__icon" width="20" height="20">
            <use href="#arrow-down"></use>
          </svg>
        </label>
        <div class="filter__overlay" id="categories-filter">
          <ul class="filter__variants">
            <li class="filter__variant">
              <p class="filter__desc">Beverages</p>
            </li>
            <li class="filter__variant">
              <p class="filter__desc">Breads / Bakery</p>
            </li>
            <li class="filter__variant">
              <p class="filter__desc">Dairy</p>
            </li>
            <li class="filter__variant">
              <p class="filter__desc">Deli</p>
            </li>
            <li class="filter__variant">
              <p class="filter__desc">Eggs</p>
            </li>
            <li class="filter__variant">
              <p class="filter__desc">Fresh Produce</p>
            </li>
            <li class="filter__variant">
              <p class="filter__desc">Meat & Seafood</p>
            </li>
            <li class="filter__variant">
              <p class="filter__desc">Pantry Items</p>
            </li>
            <li class="filter__variant">
              <p class="filter__desc">Prepared Foods</p>
            </li>
            <li class="filter__variant">
              <p class="filter__desc">Snacks</p>
            </li>
            <li class="filter__variant">
              <p class="filter__desc">Show all</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="filter__item" id="order-item">
        <label class="filter__label">
          <input
            type="text"
            class="filter__input filter__input--checked filter__input--small"
            placeholder="A to Z"
            id="filter-order-input"
          />
          <svg class="filter__icon" width="20" height="20">
            <use href="#arrow-down"></use>
          </svg>
        </label>
        <div class="filter__overlay" id="order-filter">
          <ul class="filter__variants">
            <li class="filter__variant">
              <p class="filter__desc">A to Z</p>
            </li>
            <li class="filter__variant">
              <p class="filter__desc">Z to A</p>
            </li>
            <li class="filter__variant">
              <p class="filter__desc">Cheap</p>
            </li>
            <li class="filter__variant">
              <p class="filter__desc">Expensive</p>
            </li>
            <li class="filter__variant">
              <p class="filter__desc">Popular</p>
            </li>
            <li class="filter__variant">
              <p class="filter__desc">Not popular</p>
            </li>
            <li class="filter__variant">
              <p class="filter__desc">Show all</p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
