
<section class="footer">
  <div class="container">
    <div class="footer_title-box">
      <h2 class="footer_title">Discover the Variety of Flavors and Quality</h2>
      <p class="footer_text">
        An online store where you will find fresh, natural and delicious
        products for a healthy life and unforgettable gastronomic adventures.
      </p>
      
    <form class="footer_subscribe-box">
      <h3 class="footer_subscribe-title">
        Subscribe and learn about new products!
      </h3>
      <input
        type="email"
        class="footer_subscribe-input"
        id="footerSubscribeInput"
        placeholder="email"
      />
      <button class="footer_subscribe-button" id="footerSubscribeButton">
        Send
      </button>
    </form>
  
    </div>
    <div class="footer_media-box">
      <a href="" class="footer_logo-text">
        <svg class="footer_logo-img"><use href="./images/icon.svg#logo-part"></use></svg>
        Food Boutique</a
      >
      <a href="https://www.facebook.com/goITclub/" class="footer_social-media">
        <svg class="footer_media-img">
          <use href="./images/icon.svg#facebook"></use>
        </svg> </a
      ><a
        href="https://www.instagram.com/goitclub/"
        class="footer_social-media"
      >
        <svg class="footer_media-img">
          <use href="./images/icon.svg#instagram"></use>
        </svg> </a
      ><a href="https://www.youtube.com/c/GoIT" class="footer_social-media">
        <svg class="footer_media-img">
          <use href="./images/icon.svg#youtube"></use>
        </svg>
      </a>
    </div>

    <div class="footer_copyright-box">
      <p class="footer_copyright-text">Privacy Policy / Terms of Service</p>
      <p class="footer_copyright-text">Food Boutique. All rights reserved.</p>
    </div>
  </div>
</section>
