<header class="header__section">
  <nav>
    <ul>
      <li>
        <a href="./index.html">index</a>
      </li>
      <li>
        <a href="./basket-page.html">page2</a>
      </li>
    </ul>
  </nav>
  
  <div class="header__wrap">
    <img class="header__logo" src="#" alt="" />
    <a class="header__link" href="">Food Boutique</a>
    <button class="header__btn-home" type="button">Home</button>
    <button class="header__btn-cart" type="button"></button>
    <p class="header__text"></p>
  </div>
</header>

