<header class="header__section container">
  <!-- <nav>
    <ul>
      <li>
        <a href="./index.html">index</a>
      </li>
      <li>
        <a href="./basket-page.html">page2</a>
      </li>
    </ul>
  </nav> -->
  
  <div class="header__wrap">
    <a href="./index.html" class="header__logo">
      <button class="header__logo-btn">
        <svg class="header__logo-icon" width="18" height="18">
          <use href="#logo-part"></use>
        </svg>
      </button>
      
        <svg class="header__logo-text">
          <use href="#logo-text"></use>
        </svg>
    </a>
    <button class="header__btn-home" type="button">
      <a href="./index.html" class="header__link-home">Home</a>
    </button>
    <button class="header__btn-cart" type="button">
      <a href="./basket-page.html" class="header__btn-link">
        <svg class="header__logo-icon" width="18" height="18">
          <use href="#basket"></use>
      </svg>
      </a>
  </button>
    <p class="header__text">Cart (1)</p>
  </div>
</header>

