<div class="modal">Subscribe Modal Content</div>
<section class="popular_products">
    <div class="container">
        <h2 class="popular_main-title">Popular products</h2>
 <div class="popular_list-box">
<ul class="popular_list">
    <li class="popular_item">
        <img src="#" alt="" class="popular_card-img" id="popularCardImg">
        <h3 class="popular_card-title" id="popularCardTitle"></h3>
        <p id="popularCardCattegory">Category:</p>
        <p id="popularCardSize">Size:</p>
        <p id="popularCardPopularity">Popularity:</p>
        <button class="popular_button" id="popularButton"><svg class="popular_button-svg"><use href="./images/icon.svg#basket"></use></svg></button>
    </li>
    <li class="popular_item">
        <img src="#" alt="" class="popular_card-img" id="popularCardImg">
        <h3 class="popular_card-title" id="popularCardTitle"></h3>
        <p id="popularCardText">Category:</p>
        <p id="popularCardText">Size:</p>
        <p id="popularCardText">Popularity:</p>
        <button class="popular_button" id="popularButton"><svg class="popular_button-svg"><use href="./images/icon.svg#basket"></use></svg></button>
    </li>
    <li class="popular_item">
        <img src="#" alt="" class="popular_card-img" id="popularCardImg">
        <h3 class="popular_card-title" id="popularCardTitle"></h3>
        <p id="popularCardText">Category:</p>
        <p id="popularCardText">Size:</p>
        <p id="popularCardText">Popularity:</p>
        <button class="popular_button" id="popularButton"><svg class="popular_button-svg"><use href="./images/icon.svg#basket"></use></svg></button>
    </li>
    <li class="popular_item">
        <img src="#" alt="" class="popular_card-img" id="popularCardImg">
        <h3 class="popular_card-title" id="popularCardTitle"></h3>
        <p id="popularCardText">Category:</p>
        <p id="popularCardText">Size:</p>
        <p id="popularCardText">Popularity:</p>
        <button class="popular_button" id="popularButton"><svg class="popular_button-svg"><use href="./images/icon.svg#basket"></use></svg></button>
    </li>
    <li class="popular_item">
        <img src="#" alt="" class="popular_card-img" id="popularCardImg">
        <h3 class="popular_card-title" id="popularCardTitle"></h3>
        <p id="popularCardText">Category:</p>
        <p id="popularCardText">Size:</p>
        <p id="popularCardText">Popularity:</p>
        <button class="popular_button" id="popularButton"><svg class="popular_button-svg"><use href="./images/icon.svg#basket"></use></svg></button>
    </li>
</ul>

 </div>
    </div>
</section>