<section class="products">
  <ul class="products__list" id="products-list"></ul>
  <div class="products__nothing" id="products-nothing">
    <h2 class="products__nothing--title">
      Nothing was found for the selected
      <span class="products__nothing--active">filters...</span>
    </h2>
    <p class="products__nothing--text">
      Try adjusting your search parameters or browse our range by other criteria
      to find the perfect product for you.
    </p>
  </div>
  <div class="products__nothing" id="products-blocked">
    <h2 class="products__nothing--title">
      The backend cannot process this category:
      <span class="products__nothing--active" id="name-category-blocked"></span>
    </h2>
    <p class="products__nothing--text">
      Unfortunately, the selected category cannot be displayed because our
      backend does not support processing it at this moment. Please choose a
      different category to explore other available products in our store.
    </p>
  </div>
</section>
